basics_of_the_Python_programming_language/Working_with_the_file_system_in_Python/Working_with_an_external_API/Working_with_the_requests_library_http_requeests/task_2/test.py
basics_of_the_Python_programming_language/Working_with_the_file_system_in_Python/Working_with_an_external_API/Working_with_the_requests_library_http_requeests/task_2/token.txt
vk1.a.GryqTziuZ5G7DXhH1FPOpFrlkLZG2cYzo-bbCLjpyMGH38XkDnXh4JCCu8nmk1ZpW6La0phAR6Ap6lz0kEMDbzn9sPtQQM3UoPP4kqwN9E6xBwLMy8oDn6wVoPCZu4VRGVS4UNzpPotfDWDQbH4tgo2xaBE3wqnrk9oEyxmbZS5y-L-Us2ruN2HK_A4Jgw5n7hQZlwL9vyfNcNdiuJ1mew